<div class="row" style="min-height: 200px;"></div>
<div class="row">
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-5">
        <div class="card card-container">
            <div class="card-header text-center">
                <b>Sign in to your dashboard</b>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <input class="col-lg" [(ngModel)]="user.username" name="username" placeholder = "Username">
                </div>
                <div class="form-group">
                    <input class="col-lg" [(ngModel)]="user.password" name="password" placeholder = "Password" type="password">
                </div>            
                <div class="form-group">
                    <button type="button" class="btn btn-primary" style="width: 100px;" (click)="login(user)">Sign In</button>
                </div>
            </div>
            
            <div class="form-group">
                <div *ngIf="isLoginFailed" class="alert alert-danger" role="alert">
                Login failed {{ errorMessage }}
                </div>
            </div>
        </div>
    </div>    
</div>