<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg navbar-light bg-dark pl-5 pr-5">
    <div class="col-md-11"><a class="navbar-brand text-muted" href="/dashboard">Dashboard</a></div>
    
  
    <div class="collapse navbar-collapse float-right">
      <form class="form-inline my-2 my-lg-0">
        <button class="btn text-muted" (click)="logout()"><i class="fa fa-sign-out"></i> Sign Out</button>
      </form>
    </div>
</nav>

<div class="pl-5 pr-5 pt-5">  
  <h2>Overview</h2>
  <div class="row">
    <div class="col-5">
      <div class="card card-container">
        <div class="card-header font-weight-bold"><h3>Card title</h3></div>
        <div class="card-body text-center">
          <figure id="pie"></figure>
        </div>
      </div>
    </div>
    <div class="col-2">&nbsp;</div>
    <div class="col-5">
      <div class="card card-container">
        <div class="card-header font-weight-bold"><h3>Card title</h3></div>
        <div class="card-body text-center">
          <figure id="bar"></figure>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="min-height: 50px;"></div>
  <h2>User List</h2>
  <div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr class="table-secondary">
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>User Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataSource; let ndx = index">
                  <td>{{ndx+1}}</td>
                  <td>{{item['firstName']}}</td>
                  <td>{{item['lastName']}}</td>
                  <td>{{item['username']}}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>